In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
from scipy import stats
import statsmodels.api as sm
import warnings
from itertools import product
from datetime import datetime

In [8]:
data = pd.read_csv('../Bitcoin-Prediction-with-ARIMA-Model/bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv')
data.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Unix-time to 
data['Timestamp'] = pd.to_datetime(data['Timestamp'], unit='s')

# Resampling to daily frequency
data.index = data['Timestamp']
data = data.select_dtypes(include='number').resample('D').mean()

# Resampling to monthly frequency
data_month = data.select_dtypes(include='number').resample('M').mean()

# Resampling to annual frequency
data_year = data.select_dtypes(include='number').resample('A').mean()

# Resampling to quarterly frequency
data_Q = data.select_dtypes(include='number').resample('Q').mean()